{% extends 'base.html' %}

{% block body %}
<h1>This is home page</h1>
<h1>this is home page</h1>
    <h1>This is our Home</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt rem iusto dolorem facere consequatur veniam, dolore aliquid laborum numquam sapiente, fugit quisquam sequi culpa quo saepe quibusdam. Dignissimos, error tenetur.</p>
    <audio controls src="/media/cc0-audio/t-rex-roar.mp3">
        <a href="/media/cc0-audio/t-rex-roar.mp3"> Download audio </a>
      </audio>
{% endblock %}