{% extends 'base.html' %}

{% block body %}
<h1>Task Detail</h1>
<h2>{{ object.title }}</h2>
<p>Description: {{ object.description }}</p>
<p>Due Date: {{ object.due_date }}</p>
<p>Priority: {{ object.priority }}</p>
<p>Completion Status: {% if object.is_complete %}Complete{% else %}Incomplete{% endif %}</p>

<form method="post" action="{% url 'task-delete' object.pk %}" style="display: inline-flex;">
    {% csrf_token %}
    <button class="btn btn-danger" type="submit">Delete Task</button>
</form>

<a href="{% url 'task-update' object.pk %}" class="btn btn-warning">Edit Task</a>
<a class="btn btn-success" href="{% url 'task-list' %}">Back to Task List</a>

{% endblock %}
